*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #0f0f17;
}

.container{
    background: #1a1a27;
    border: 2px solid #713cff;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(122, 60, 2555, 0.6);
    overflow: hidden;
    width: 95%;
    max-width: 850px;
    min-height: 480px;
    position: relative;
}

.slider{
    width: 200%;
    height: 100%;
    display: flex;
    transition: 0.6s ease;
}

.container.active .slider{
    transform: translateX(-50%);
}

.form-slider{
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-slider form{
    width: 100%;
}

h1{
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

form input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #7a3cff;
    outline: none;
    background: #13131b;
    border-radius: 20px;
    color: #fff;
}

button{
    padding: 10px;
    width: 100%;
    margin-top: 15px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid #6d28d9;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    z-index: 1;
    cursor: pointer;
}

button::before{
    content: '';
    position: absolute;
    background: linear-gradient(#4c1d95, #6d28d9, #7c3aed, #8b5cf6, #9333ea);
    width: 100%;
    height: 300%;
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .6s;
}

button:hover::before{
    top: 0;
}

.switch-text{
    text-align: center;
    color: #fff;
    margin-top: 15px;
}

.text-side{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
    padding: 40px;
    text-align: center;
    background: linear-gradient(#7a3cff, #3b1978);
}

.text-side h2{
    font-size: 32px;
    margin-bottom: 10px;
}

.text-side p{
    font-size: 16px;
    opacity: 0.9;
    font-weight: 600;
}

.account{
    color: #7a3cff;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

/* responsive */
@media (max-width: 768px) {

    body{
        padding: 20px;
    }

    .container{
        height: auto;
    }

    .slider{
        flex-direction: column;
        width: 100%;
        transform: none !important;
    }

    .form-slider,
    .text-side{
        width: 100%;
        padding: 30px 20px;
    }

    .text-side h2{
        font-size: 24px;
    }

    .text-side p{
        font-size: 14px;
    }
}
